{% extends "layout.html" %}

{% block title %}DenMWen Portfolio{% endblock %}

{% block content %}
   <div class="container">
    <h1>Creating Dynamic Web Experiences with Python and Django</h1>
    <p>Hello, and welcome to my portfolio! I'm a web developer with a 
        passion for creating high-quality, dynamic web experiences. 
        While I've been working in the field for several years, my recent
        commitment has been on learning and mastering Python and Django. 
        While I'm still relatively new to these technologies, 
        I'm excited about the possibilities they offer for building robust
         and scalable web applications.</p>
    <p>
        In 2018, I completed the Front-End Nanodegree program with Udacity, 
        which provided me with a solid foundation 
        in HTML, CSS, and JavaScript and a heavy focus on React. Since then, I've continued to build my 
        skills and explore new technologies, including Python and Django, which 
        I'm passionate about using to create dynamic, user-friendly web applications.
    </p>
    <p>
        In my professional experience, I've also worked extensively with WordPress and Drupal, 
        where I've honed my skills in front-end development, theme customization, and content 
        management system administration. Combining my experience with these platforms and my 
        growing expertise in Python and Django, I'm excited to take on new challenges and build 
        better web applications for clients and users.
    </p>
    <article>
    </article>
    <article>
    </article>
    <article>
    </article>
   </div>
{% endblock %}