{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header class="container-fluid">
        <nav>
            <ul>
              <li><strong>My Logo</strong></li>
            </ul>
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Work</a></li>
              <li><a href="#" role="button">Contact Me</a></li>
            </ul>
          </nav>
    </header>
    <main class="container-fluid">
        {% block content %}{% endblock %}
    </main>
</body>
</html>